Package: com.shashanoid.livesportstv
Name: Live Sports TV
Version: 1.1
Architecture: iphoneos-arm
Description: Watch Live TV - Sky Sports, ESPN, Bt Sport, beIN etc in HD for free on iphone/ipad/ipod
Maintainer: shashanoid <shashanoid@gmail.com>
Author: shashanoid <shashanoid@gmail.com>
Section: iApps
Icon: file:///Applications/Live TV.app/icon57x57_flat.png

