Package: com.shashanoid.livetv
Name: Live TV Free
Version: 1.3
Architecture: iphoneos-arm
Description: Watch Live TV in HD for free - Cricket, Football etc.
Maintainer: shashanoid <shashanoid@gmail.com>
Author: shashanoid <shashanoid@gmail.com>
Section: Multimedia
Icon: file:///Applications/Live TV.app/icon57x57_flat.png

